.book {
  position: relative; /* Position the book container */
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-image: url('IMG-20231005-WA0000.jpg'); /* Replace 'IMG-20231005-WA0000.jpg' with your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 10px;
  color: #000000; /* Text color */
  background-color: rgba(0, 0, 0, 0.2); /* Adjust the last value (0.5) to control transparency */
}

.page {
  position: absolute; /* Position pages relative to the book container */
  top: 0;
  left: 0;
  width: 100%; /* Make pages take full width */
  height: 2000px; /* Adjust the height as needed */
  display: none; /* Hide all pages by default */
}

.page.active {
  display: block; /* Show the active page */
}

h1, p {
  color: inherit; /* Inherit text color from .book */
}

.button-container {
  position: absolute;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%);
}

button {
  background-color: #007bff; /* Blue button background */
  color: white; /* White button text */
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
